  <div class="document">
    {{> header}}
    <div class="main">
      <h1>Recommended</h1>
      <div class="cafe">
        <div class="cafe-item">
          <a href="cafe1">
            <div class="cafe-image">
              <img src="Photos/Cafe1_Starbucks.jpg" />
            </div>
          </a>
          <div class="cafe-details">
            <span class="cafe-name">
              <h3>Starbucks</h3>
              <h5>4/5</h5>
            </span>
            <h4>Torre Lorenzo, Taft Ave.cor Vito Cruz St, City of Manila.</h4>
            <h4>₱90-₱260</h4>
            <p>Starbucks Corporation is an American multinational chain of coffeehouses and roastery reserves headquartered in Seattle, Washington. It was founded in 1971, and is currently the world's largest coffeehouse chain. Pike Place Market, Elliott Bay, Seattle, Washington, U.S.</p>
          </div>
        </div>
        <div class="cafe-item">
          <a href="cafe1">
            <div class="cafe-image">
              <img src="Photos/Cafe2_MoodAndCoffee.jpg" />
            </div>
          </a>
          <div class="cafe-details">
            <span class="cafe-name">
              <h3>Mood & Coffee</h3>
              <h5>5/5</h5>
            </span>
            <h4>2/F Linfong Foodcourt, Lasalle Taft Branch, Manila</h4>
            <h4>₱80-₱170</h4>
            <p>Student-friendly cafe in Taft! Kung naghahanap ka ng Budget friendly cafe na worth to try if you need that dose of caffeine for the day, eto na yun!</p>
          </div>
        </div>
        <div class="cafe-item">
          <a href="cafe1">
            <div class="cafe-image">
              <img src="Photos/Cafe3_Dapithapon.jpg" />
            </div>
          </a>
          <div class="cafe-details">
            <span class="cafe-name">
              <h3>Dapit-Hapon Cafe & Bistro</h3>
              <h5>4/5</h5>
            </span>
            <h4>Estrada St. Malate, Manila</h4>
            <h4>₱130-₱200</h4>
            <p>A must try cafe! Dapit-hapon Cafe & Bistro here in taft avenue</p>
          </div>
        </div>
        <div class="cafe-item">
          <a href="cafe1">
            <div class="cafe-image">
              <img src="Photos/Cafe4_CoffeeProject.jpg" />
            </div>
          </a>
          <div class="cafe-details">
            <span class="cafe-name">
              <h3>Coffee Project</h3>
              <h5>4/5</h5>
            </span>
            <h4>Vista Place Taft, Malate, Manila</h4>
            <h4>₱160-₱330</h4>
            <p>The most Instagrammable Coffee Shop in the Philippines. Serving good quality concoctions of espresso-based drinks and mouth-watering food.</p>
          </div>
        </div>
        <div class="cafe-item">
          <a href="cafe1">
            <div class="cafe-image">
              <img src="Photos/Cafe5_CBTL.jpg" />
            </div>
          </a>
          <div class="cafe-details">
            <span class="cafe-name">
              <h3>The Coffee Bean & Tea Leaf</h3>
              <h5>4/5</h5>
            </span>
            <h4>Taft Ave. corner Castro St. and Fidel Reyes St, Malate, Manila</h4>
            <h4>₱120-₱280</h4>
            <p>Born and brewed in Southern California since 1963, The Coffee Bean & Tea Leaf® has always been passionate about connecting loyal customers with carefully handcrafted products.</p>
          </div>
        </div>
      </div>
    </div>
  </div>