<div class="document">
    <img src="Photos/logo_notext.png" />
    <h2>Login</h2>
    <div class="login-box">
      <div class="login-box-label-container">
        <label>Username</label>
        <input type="text" class="text-answer" placeholder="Username" />
      </div>
      <div class="login-box-label-container">
        <label>Password</label>
        <input type="text" class="text-answer" placeholder="********" />
      </div>
      <a href="/">
        <button class="button">
          Login
        </button>
      </a>
      <a href="register">
        <button class="button">
          Register User
        </button>
      </a>
    </div>
  </div>
