{{> header}}
  <div class="main">
    <div class="profile-bio">
      <div class="profile-bio-image">
        <img src="Photos/profile_picture.webp" />
      </div>
      <div class="profile-bio-details">
        <h1>User 1</h1>
        <p>User 1 is an undergraduate student of De La Salle University and an avid fan of coffee.</p>
      </div>
    </div>
    <hr />
    <div class="profile-details">
      <div class="profile-details-left">
        <h2>Owned Cafes</h2>
        <a href="cafe1">
          <h5>Starbucks</h5>
        </a>
      </div>
      <div class="profile-details-right">
        <h2>Past Reviews</h2>
        <div class="profile-details-right-parent">
          <div class="profile-details-right-item">
            <div class="profile-details-right-line">
              <img src="Photos/Cafe1_Starbucks.jpg" />
              <h3>Starbucks</h3>
            </div>
            <div class="profile-details-right-line">
              <h5>5/5</h5>
              <h5>Written: 02/16/24</h5>
            </div>
            <p>This is the best cafe I've ever been to!</p>
          </div>
          <div class="profile-details-right-item">
            <div class="profile-details-right-line">
              <img src="Photos/Cafe1_Starbucks.jpg" />
              <h3>Starbucks</h3>
            </div>
            <div class="profile-details-right-line">
              <h5>5/5</h5>
              <h5>Written: 01/13/24</h5>
            </div>
            <p>Tastes so good! You have to try!</p>
          </div>
        </div>
      </div>
    </div>
  </div>